name: Laravel CI

on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps: 
            - name: Recuperer le code source
              uses: actions/checkout@v5
            - name: Run test
              run: cd app && composer install && cp .env.example .env && php artisan key:gen && php artisan test
            - name: build app image
              run: docker build -t nabilagountandi/laravel-cicd:test --no-cache .
